<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   id="WebApp_ID" version="2.5">

   <display-name>Astrocyte Portal Portlets</display-name>
   <!-- 
   <context-param>
      <param-name>log4jConfigLocation</param-name>
      <param-value>/WEB-INF/classes/log4j.properties</param-value>
   </context-param>
    -->

   <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/applicationContext.xml</param-value>
   </context-param>
   
   <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Look into the purpose of this -->
	<!-- 
	<listener>
		<listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
	</listener>
   -->
   
   <!-- Allows for a servlet delegate to sit alongside portlet environment. -->
   <!-- See http://ceanot.blogspot.com/2010/10/liferay-running-servlet-within-portlet.html for details -->
	<servlet>
		<servlet-name>astrobridge</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
    	<init-param>
      		<param-name>servlet-class</param-name>
      		<!-- This will allow limited (albeit partially broken) Spring functionaly -->
      		<!-- details: http://longgoldenears.blogspot.com/2008/03/portaldelegateservlet-servlet-session.html -->
      		<param-value>org.springframework.web.servlet.DispatcherServlet</param-value>
    	</init-param>
    	<init-param>
      		<param-name>sub-context</param-name>
      		<param-value>bridge</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>   
 	</servlet>
	
   
	<servlet>
		<servlet-name>view-servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.ViewRendererServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>view-servlet</servlet-name>
		<url-pattern>/WEB-INF/servlet/view</url-pattern>
	</servlet-mapping>
	
	<!-- Added absolute path to jsp, eclipse wasn't validating correctly -->
	<!--<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/portlet_2_0</taglib-uri>
			<taglib-location>/WEB-INF/tld/liferay-portlet.tld</taglib-location>
		</taglib>
	</jsp-config>-->
   
</web-app>